/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .85em;
}

h1 {
  margin-top: 34px;
  margin-bottom: 34px;
  text-align: center;
  font-size: 175%;
  color: gray;
}

h4 {
  margin: 0 21px 0 21px;
  font-size: 125%;
}

p {
  border: 1px solid black;
  background-color: #33FFFF;
  width: 97%;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 8% 2% 2% 2%;
  color: #212F3D;
  font-size: 100%;
}

div.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 95%
}

.title-region {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 1.5%;
}

.title-region.one {
  background-color: #6E2C00;
  color: whitesmoke;
}

.title-region.two {
  background-color: #FAD7A0;
}

.title-region.three {
  background-color: #196F3D  ;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width:768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    float: left;
    margin-bottom: 2%;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  #section-three {
    clear: left;
    left: -.75%;
    width: 101.5%;
  }
  #section-three > p {
    padding: 3% 1% 2% 1%;
  }
}

  /********** Small devices only **********/
@media (max-width: 767px) {
  .col-sd-12 {
      position: relative;
      margin-bottom: 2%;
  }

  p {
    padding: auto 2% 2% 2%;
  }
}